.main
  .main__header
    .main__header__box
      .main__header__title
        = @group.name
      .main__header__edit
        = link_to "Edit", edit_group_path(params[:group_id]), method: :get
    .main__thread
      .main__thread__member
        - @group.users.each do |user|
          = user.name

  .main__space
    = render @messages

  .main__footer
    = form_for [@group, @message] do |f|
      .main__footer__form
        .main__footer__form__mask
          = f.text_field :content, class: 'text', placeholder: 'type a message' 
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon-a')
            = f.file_field :image, class: 'input'
        = f.submit 'Send', class: 'form__submit'