.main
  .main__header
    .main__header__box
      .main__header__title
        = group.name
      .main__header__edit
        %a.chat-header__edit-btn{ href: edit_chat_group_path(@chat-group-form) } Edit
    .main__thread
      .main__thread__member
        = message.user.name
  .messages
    = render @messages
  .main__footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'text', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon-a')
            = f.file_field :image, class: 'input'
        = f.submit 'Send', class: 'form__submit'